{% extends 'AnonMicroBlog/common.html' %}

{% block content %}

    {% for val in values %}

        <div class="post">
            <p class="post-text">{{ val.post }}</p>
        </div>

    {% endfor %}

    <form name="new-post" method="post">
        {% csrf_token %}
        <h3 class="post-input-label">Напишите пост:</h3>
        {{ form.post }}
        <p><input class="post-button" type="submit" value="Отправить"></p>
    </form>
{#    <input type="button" onclick="{{ clear }}">#}
{% endblock %}