.container {
    width: 600px;
    margin: auto;
}

.post {
    background-color: aliceblue;
    margin: 10px auto;
    border-radius: 5px;
}

.post-text {
    text-decoration: none;
    color: red;
    font-family: "URW Chancery L", "sans-serif";
    font-weight: bold;
    font-size: 7px;
}
